<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="zhuye" connectionString="http://172.16.65.7:8097"/>
		<add name="denglu" connectionString="http://172.16.65.7:8097"/>
		<add name="link" connectionString="server=MS-VQUPPPSVBFIA\SQLEXPRESS;user=sa;pwd=Admin1234;database=newgajck_aqrz"/>
		<!--<add name="link" connectionString="server=MS-VQUPPPSVBFIA\SQLEXPRESS;user=sa;pwd=Admin1234;database=newgajck_aqrz2023"/>-->
		<add name="jiancheng" connectionString="冀R"/>
	</connectionStrings>



	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
